:root {
    --primary-color: white;
    --secundary-color: #333;
    --third-color: #111;
    --border: 2px solid #111;
    --border-radius: 5px;
    --box-shadow: 5px 5px 20px #333;
    --icon-height: 80px;
    --icon-width: 80px;
}
body {
    background-color: rgb(101, 125, 161);
    color: var(--primary-color);
    font-family: Arial Narrow, sans-serif;
}
/*header*/
.page-head {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: var(--third-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
}
.page-head .title-container h1 {
    text-align: center;
    font-size: 40px;
}
.page-head .menu-container .menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    text-align: center;
    line-height: 70px;
}
.page-head .menu-container .menu li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 25px;
}
.page-head .menu-container .menu li a:hover {
    text-decoration: underline;
    transition-duration: 2s;
}
/*about/bio/presentation*/
.about-me-title-container {
    margin-top: 200px;
    text-align: center;
}
.about-me-title-container h1 {
    text-decoration: underline;
    color: var(--third-color);
    font-size: 30px;
    cursor: pointer;
}
.about-me-container {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    margin-left: 150px;
    margin-right: 150px;
    gap: 50px;
}
.about-me-container .my-profile-img img {
    height: 400px;
    width: 400px;
    border: var(--border);
    border-radius: 200px;
    box-shadow: var(--box-shadow);
}
.about-me-container .bio-text-container p {
    font-size: 20px;
    line-height: 35px;
    word-spacing: 5px;
    color: var(--primary-color);
}
/*skills and tools*/
.skills-tools-title-container {
    margin-top: 100px;
    text-align: center;
}
.skills-tools-title-container h1 {
    text-decoration: underline;
    color: var(--third-color);
    font-size: 30px;
    cursor: pointer;
}
.skills-tools-container {
    background-color: var(--third-color);
    padding-bottom: 40px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    border-radius: var(--border-radius);
}
.skills-tools-container h1 {
    background-color: var(--third-color);
    color: var(--primary-color);
    text-decoration: underline;
}
.skills-tools-container .skills-box {
    justify-content: center;
    display: flex;
    gap: 10px;
}
.skills-tools-container .skills-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.skills-tools-container .skills-container img {
    height: var(--icon-height);
    width: var(--icon-width);
}
.skills-tools-container .tools-box {
    justify-content: center;
    display: flex;
    gap: 10px;
}
.skills-tools-container .tools-box .tools-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.skills-tools-container .tools-container img {
    height: var(--icon-height);
    width: var(--icon-width);
}
.skills-tools-container .icon-div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}
.skills-tools-container .icon-div span {
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
}
/*projects section*/
.projects-title-container {
    margin-top: 100px;
    text-align: center;
}
.projects-title-container h1 {
    text-decoration: underline;
    color: var(--third-color);
    font-size: 30px;
    cursor: pointer;
}
.projects-container {
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-bottom: 100px;
}
.projects-container .projects-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.projects-container .projects-box .project-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    filter: grayscale(1);
}
.projects-container .projects-box .project-div img {
    height: 250px;
    width: 400px;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.projects-container .projects-box .project-div span {
    font-size: 20px;
    font-weight: bold;
}
.projects-container .projects-box .project-div:hover {
    cursor: pointer;
    transform: translateY(-10px);
    filter: grayscale(0);
    transition-duration: 0.5s;
}
/*contacts and follow*/
.contacts-container {
    background-color: var(--third-color);
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    right: 0;
    left: 0;
    bottom: 0;
}
.contacts-container .contacts-title-container {
    text-align: center;
    margin-left: 100px;
}
.contacts-container .follow-platforms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
}
.contacts-container .follow-platforms .follow img {
    height: 50px;
    width: 50px;
}
